%h2 Zarejestruj się
= form_for @signup, :html => {:class => 'form-horizontal'} do |f|
  .control-group{:class => ("error" if @signup.errors[:company_name].any?)}
    = f.label :company_name, {:class => 'control-label'}
    .controls
      = f.text_field :company_name, :autofocus => true
  .control-group{:class => ("error" if @signup.errors[:email].any?)}
    = f.label :email, {:class => 'control-label'}
    .controls
      = f.text_field :email
  .control-group{:class => ("error" if @signup.errors[:password].any?)}
    = f.label :password, {:class => 'control-label'}
    .controls
      = f.password_field :password
  .control-group
    .controls
      = f.submit "Załóż konto", {:class => 'btn btn-primary'}
