.container
  %h2{style: "padding: 30px 0 15px"} Ustawienia Konta
  .well.well-small
    = form_for @user, {url: backend_me_path, :html => {:class => 'form-horizontal'}} do |f|
      .control-group{:class => ('error' if @user.errors[:name].any?)}
        = f.label :name, {:class => 'control-label'}
        .controls
          = f.text_field :name, {:class => 'input-xxlarge'}

      .control-group{:class => ('error' if @user.errors[:email].any?)}
        = f.label :email, {:class => 'control-label'}
        .controls
          = f.text_field :email, {:class => 'input-xxlarge'}
      .control-group{:class => ('error' if @user.errors[:password].any?)}
        = f.label :password, {:class => 'control-label'}
        .controls
          = f.password_field :password, {:class => 'input-xxlarge'}
      
      .control-group
        = f.label :theme, {:class => 'control-label'}
        .controls
          = f.select :theme,[['cerulean', 'cerulean'], ['slate', 'slate'], ['cyborg', 'cyborg'], ['cosmo', 'cosmo']], {:class => 'input-xxlarge'}
      .control-group
        .controls
          = f.submit :save, {:class => 'btn btn-primary'}