.container
  %h2{style: "padding: 30px 0 15px"} Ustawienia Konta
  #id_edit-account
    = form_for @user, {url: backend_me_path, :html => {:class => 'form-horizontal'}} do |f|
      .control-group{:class => ('error' if @user.errors[:name].any?)}
        = f.label :name, {:class => 'control-label'}
        .controls
          = f.text_field :name, {:class => 'my-input'}
      .control-group{:class => ('error' if @user.errors[:email].any?)}
        = f.label :email, {:class => 'control-label'}
        .controls
          = f.text_field :email, {:class => 'my-input'}
      .control-group{:class => ('error' if @user.errors[:password].any?)}
        = f.label :password, {:class => 'control-label'}
        .controls
          = f.password_field :password, {:class => 'my-input'}
      .control-group
        .controls
          = f.submit :save, {:class => 'btn btn-primary'}