.row-fluid.hoverable.part-row
  .span9{id: "part-name-#{part.id}"}
    = part.name
  .span1
    .badge.badge-info.pull-right
      = part.time_worked
  .span2.text-right
    .part-crud
      %a.btn{:id => "edit-part-#{part.id}-btn", :href => "#", "data-live-edit"=> "part-name-#{part.id}", "data-live-edit-url" => backend_part_path(part)}
        %i.icon-edit
      %a.btn.btn-danger{:href => backend_part_path(part), "data-method" => :delete, "data-confirm" => "Czy na pewno chcesz usunąć wszystkie dane zadania"}
        %i.icon-remove
