.well.well-small
  %h3 Dodaj nowy czas
  = form_for [:backend, :me, @tl], html: {:class => 'form-inline'} do |f|
    .control-group.mb10{:class => ("error" if @tl.errors[:name].any?)}
      .controls
        = f.text_field :name, {:class => 'input-block-level', :placeholder => 'Czynność'}

    .control-group.mb10{:class => ("error" if @tl.errors[:full_part_name].any?)}
      .controls
        = f.text_field :full_part_name, {:class => 'input-block-level', :placeholder => 'Projekt'}

    .row-fluid
      .span9
        .control-group{:class => ("error" if @tl.errors[:worked_on].any?)}
          .controls
            = f.text_field :worked_on, {value: Time.now.strftime('%d.%m.%Y'), :class => 'input-block-level', :placeholder => 'Data'}


      .span3
        .control-group{:class => ("error" if @tl.errors[:clock_duration].any?)}
          .controls.bootstrap-timepicker
            = f.text_field :clock_duration, {:class => 'input-block-level', :placeholder => 'HH:SS'}
            
    .control-row.mt25
      %button.btn.btn-primary.btn-block{:type => 'submit'}
        %i.icon-plus
        Dodaj