%h2 Zaloguj się
= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f|
  = devise_error_messages!
  .control-group
    = f.label :email, {:class => 'control-label'}
    .controls
      = f.email_field :email, :autofocus => true
  .control-group
    = f.label :password, {:class => 'control-label'}
    .controls
      = f.password_field :password
  .control-group
    .controls
      - if devise_mapping.rememberable?
        = f.label :remeber_me, {:class => 'checkbox'} do
          = f.check_box :remember_me
          Zapamiętaj mnie
      = f.submit "Zaloguj", {:class => 'btn btn-primary'}
= render "devise/shared/links"
