.well.well-small.user-well
  .fluid-container
    .row-fluid.hoverable
      .span1.avatar
        = image_tag user.gravatar_url, :class => "img-polaroid img-rounded"
      .span5.user-name{id: "user-name-#{user.id}"}
        %h3{style: "margin-top: 0px"}= user.name
        %h6= user.email
      .span6.text-right.user-worked-time
        .time.pull-right
          %h5 W miesiącu
          = user.time_worked_month
        .time.pull-right
          %h5 W tygodniu
          = user.time_worked_week
        .time.pull-right
          %h5 Dzisiaj
          = user.time_worked_today
