.container
  .col-md-12
    .client-name.pull-left
      %a{:id => "client-name-#{client.id}", "href" => backend_client_path(client)}
        = client.name
      .client-details
        = "#{client.projects.count} #{Project.model_name.human(count: client.projects.count)}"
    .side-buttons
      .client-crud.pull-right.p-t-15
        %a.btn.btn-remove{id: "edit-client-#{client.id}-btn", href: '#', "data-live-edit" => "client-name-#{client.id}", "data-live-edit-url" => backend_client_path(client)}
          %i.fa.fa-pencil-square-o.fa-lg
        %a.btn.btn-remove{:href => backend_client_path(client), "data-method" => :delete, "data-confirm" => "Czy na pewno chcesz usunąć wszystkie dane klienta"}
          %i.fa.fa-remove.fa-lg.m-t--4
      .p-t-15
        .timer-badge.pull-right.m-r-20
          %i.fa.fa-clock-o.m-r-5
          = client.time_worked_overall
