.container
  %h2{style: "padding: 30px 0 15px"}= @client.name
  %ul.breadcrumb
    %li
      = link_to "Klienci", backend_clients_path
      %span.divider /
    %li.active= @client.name
  .row
    .span8
      %h3{style: "padding: 30px 0 15px"} Projekty
      .projects_wrapper
        = render @client.projects
      = render :partial => "backend/projects/form", :locals => {:client => @client}
    .span4
      %h3{style: "padding: 30px 0 15px"} Pracownicy
      #users_division_chart{style: "height: 200px; margin: 0 0 40px 0"}
      .users_wrapper_above_chart=render :collection => @client.users, :partial => "user", :locals => {:client => @client}
  .row.mt50
    .span6
      %h3 Wpisy czasowe
    .span6
      .btn-group.pull-right
        %button.btn.dropdown-toggle.btn-primary
          Pracownicy
          %span.caret
        %ul.dropdown-menu.clearfix
          %li
            = link_to backend_client_path(@client) do
              Wszyscy
              - if params[:sort]
                %i.icon-circle-blank
              - else
                %i.icon-circle
          - current_user.account.users.each do |user|
            %li
              = link_to backend_client_path(@client, sort: {user_id: user.id}) do
                = user.name
                - if params[:sort] and user.id == params[:sort][:user_id].to_i
                  %i.icon-circle
                - else
                  %i.icon-circle-blank
    .clearfix
  .row
    .span12
      - @last_day_index = 0
      .text-right= will_paginate @timelogs, :renderer => BootstrapPagination::Rails, previous_label: "Poprzednia strona", next_label: "Następna strona"
      %table.table.table-hover.table-condensed.table-bordered
        %thead
          %tr
            %th Opis
            %th Zadanie
            %th Data
            %th Pracownik
            %th Czas
        %tbody
          = render @timelogs
      .text-right= will_paginate @timelogs, :renderer => BootstrapPagination::Rails, previous_label: "Poprzednia strona", next_label: "Następna strona"
