.fluid-container
  .row-fluid
    .span10.offset1.mt50
      .row-fluid
        .span12
          .span6.text-left
            %h4 Ostatnie wpisy czasowe
          .span6.text-right
            .btn-group
              %button.btn.dropdown-toggle.btn-primary
                Pracownicy
                %span.caret
              %ul.dropdown-menu.clearfix
                %li
                  = link_to backend_timelogs_path do
                    Wszyscy
                    - if params[:sort]
                      %i.icon-circle-blank
                    - else
                      %i.icon-circle
                - current_user.account.users.each do |user|
                  %li
                    = link_to backend_timelogs_path(sort: {user_id: user.id}) do
                      = user.name
                      - if params[:sort] and user.id == params[:sort][:user_id].to_i
                        %i.icon-circle
                      - else
                        %i.icon-circle-blank
                      
      .row-fluid
        .span12
          - @last_day_index = 0
          .text-right= will_paginate @timelogs, :renderer => BootstrapPagination::Rails, previous_label: "Poprzednia strona", next_label: "Następna strona"
          %table.table.table-hover.table-condensed.table-bordered
            %thead
              %tr
                %th Opis
                %th Zadanie
                %th Data
                %th Pracownik
                %th Czas
            %tbody
              = render @timelogs
          .text-right= will_paginate @timelogs, :renderer => BootstrapPagination::Rails, previous_label: "Poprzednia strona", next_label: "Następna strona"
              