!!!
%html
  %head
    %title KMP WorkLog
    = stylesheet_link_tag "landing", :media => "all"

    = csrf_meta_tags
  %body
    .navbar.navbar-static-top
      .navbar-inner
        = link_to root_path, {:class => 'brand pull-left'} do
          KMP WorkLog
          %i.icon-time
        %ul.nav.pull-right
          %li
            = link_to new_signup_path do
              %i.icon-signin
              Załóż konto
          %li
            = link_to backend_timelogs_path do
              %i.icon-user
              Zaloguj się
    .container
      .row
        .span6.offset3
          .well.main_bg.mt50
            = yield