!!!
%html
  %head
    %title KMP WorkLog
    = stylesheet_link_tag "landing", :media => "all"
    = stylesheet_link_tag 'landing'
    = stylesheet_link_tag 'newview'
    = javascript_include_tag "frontend"
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        = link_to root_path, {:class => 'brand pull-left'} do
          KMP WorkLog
          %i.icon-time
        %ul.nav.pull-right
          - if current_user.nil?
            %li
              = link_to new_signup_path do
                %i.icon-signin
                Załóż konto
            %li
              = link_to backend_me_timelogs_path do
                %i.icon-user
                Zaloguj się
          - else
            %li
              = link_to backend_timelogs_path do
                %i.icon-home
                Przejdź do aplikacji
    = yield
